* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-wrapper {
    /*background-color: green;*/
    margin: 10rem auto;
    width: 30%;
    padding: 0px 20px;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
}
.field-wrapper > div > label {
    font-size: 1.3rem;
}
.field-wrapper > div {
    margin-bottom: 10px;
}
.field-wrapper > div > input {
    width: 100%;
    padding: 8px 0;
    margin-bottom: 1.2rem;
}
