* {
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #000000;*/
    display: flex;
    flex-direction: column;
}

header {
    background-color: #04aa6d;
    display: flex;
    justify-content: center;
    padding: 20px 4rem;
    position: fixed;
    right: 0;
    left: 0;
}

header > nav > ul {
    display: flex;
}
header > nav > ul > li {
    list-style: none;
    padding: 0px 20px;
}
header > nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

main {
    /*background-color: brown;*/
    flex: 2;
    height: 60%;
    padding: 2rem 4rem;
    margin-top: 5rem;
}
.hero {
    background-image: url("../pictures/hero2.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10rem;
}

.cards-wrapper {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
/*.cards-wrapper > div {
    background-color: red;
}*/
.image-wrapper > img {
    max-width: 100%;
}
footer {
    flex: 1;
    padding: 0px 4rem;
}
