* {
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

header {
    /*background-color: gold;*/
    display: flex;
    justify-content: center;
    padding: 20px 4rem;
}

header > nav > ul {
    display: flex;
}
header > nav > ul > li {
    list-style: none;
    padding: 0px 20px;
}
header > nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

main {
    /*background-color: brown;*/
    flex: 2;
    height: 60%;
    padding: 2rem 4rem;
}
.hero {
    background-color: rebeccapurple;
}
.cards-wrapper {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.cards-wrapper > div {
    background-color: red;
}

footer {
    flex: 1;
    padding: 0px 4rem;
}
